@media screen and (min-width: 815px){
    
.page {
    text-align: center;
    font-size: 5vh;
    background-color: #2d847f;
     
      
}
.acceuilPage {
    text-align: center;
    font-size: 5vh;
    background-color: #2d847f;
}


.buttonPlay{   
   font-size: 5vh;   
}
}

.page {
        min-height: 100vh;
    }





