.page {
    text-align: center;
    font-size: 5vh;
    background: linear-gradient(#2d847f, #b1caa7);
     
      
}
.acceuilPage {
    text-align: center;
    font-size: 5vh;
    background-color: #2d847f;
}



@media screen and (min-width: 815px){
    
.title{
    font-size: 3em;
}


.buttonPlay{  
    font-size: 5vh;   
}
}

.page {
        min-height: 100vh;
    }





